@using CRUDelicious.Models
@model Dish
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Creator</title>
</head>
<body>
    <header>
        <h1>Add a new Dish!</h1>
    </header>
    <main>
        <a href="/">Home</a>
        <form asp-action="CreateDish" asp-controller="Home" method="post">
            <span asp-validation-for="Name" class="error"></span>
            <br>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <br>
            <span asp-validation-for="Chef" class="error"></span>
            <br>
            <label asp-for="Chef"></label>
            <input asp-for="Chef">
            <br>
            <span asp-validation-for="Calories" class="error"></span>
            <br>
            <label asp-for="Calories"></label>
            <input asp-for="Calories">
            <br>
            <span asp-validation-for="Tastiness" class="error"></span>
            <br>
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness">
                <option value="" selected disabled>Select Level</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <span asp-validation-for="Description" class="error"></span>
            <br>
            <label asp-for="Description"></label>
            <input asp-for="Description">
            <br>
            <button>Add Dish</button>
        </form>
    </main>
</body>
</html>